@font-face {
    font-family: 'BYekan' !important;
    src: url('fonts/BYekan.eot') format('eot'),
    url('fonts/Byekan.ttf') format('truetype'),
    url('fonts/BYekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}
*{

    font-size: 14px !important;
}

.factors_tab1_box{
    display: inline-block;
    height: 60px;
    width: 120px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
}
.factors_tab1_box:hover{
cursor: pointer;
}
#sefareshe_jadid_box{
    margin-right: 5%;
    background: #e0e0e0;
}
#faktorha_box{
    margin-right: 2%;
    background: #e0e0e0;
}
#ekhtesase_emkanat_box{
    margin-right: 2%;
    background: #e0e0e0;
}
#pardakhtha_box{
    margin-right: 2%;
    background: #e0e0e0;
}
#moshkelat_box{
    margin-right: 2%;
    background: #e0e0e0;
}
#tamasha_box{
    margin-right: 2%;
    background: #e0e0e0;
}
.sefareshe_jadid_serviceslist{
    text-align: right;
    height: auto;
    background: #fafafa;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    text-decoration: none;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
}
.sefareshe_jadid_serviceslist_li:hover{
    cursor: pointer;
}

/*narengi:ff6606*/